@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Blue Lotus </h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <h2>@DateTime.Now.ToShortTimeString() </h2>
    <h2> Date is : @DateTime.Now.ToShortDateString() </h2>
</div>
